In [107]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import load_model

In [79]:
string = "16623133000114 22613233101002 00000000000000 42600002000113 57600001100113 68633411111115"
model_input = []
for char in string:
    if char != " ":
        model_input.append(int(char))

In [80]:
layers = string.split(" ")
print(len(layers[0]) * 6)

84

In [81]:
columns = ['cloth_category_1', 'cloth_subcategory_1', 'patron_1', 'sleeve_1',
       'skirt_1', 'neckline_1', 'material_1', 'fit_1', 'isCold_1', 'isRainy_1',
       'isWet_1', 'isTempered_1', 'isHot_1', 'nota_1', 'cloth_category_2',
       'cloth_subcategory_2', 'patron_2', 'sleeve_2', 'skirt_2', 'neckline_2',
       'material_2', 'fit_2', 'isCold_2', 'isRainy_2', 'isWet_2',
       'isTempered_2', 'isHot_2', 'nota_2', 'cloth_category_3',
       'cloth_subcategory_3', 'patron_3', 'sleeve_3', 'skirt_3', 'neckline_3',
       'material_3', 'fit_3', 'isCold_3', 'isRainy_3', 'isWet_3',
       'isTempered_3', 'isHot_3', 'nota_3', 'cloth_category_4',
       'cloth_subcategory_4', 'patron_4', 'sleeve_4', 'skirt_4', 'neckline_4',
       'material_4', 'fit_4', 'isCold_4', 'isRainy_4', 'isWet_4',
       'isTempered_4', 'isHot_4', 'nota_4', 'cloth_category_5',
       'cloth_subcategory_5', 'patron_5', 'sleeve_5', 'skirt_5', 'neckline_5',
       'material_5', 'fit_5', 'isCold_5', 'isRainy_5', 'isWet_5',
       'isTempered_5', 'isHot_5', 'nota_5', 'cloth_category_6',
       'cloth_subcategory_6', 'patron_6', 'sleeve_6', 'skirt_6', 'neckline_6',
       'material_6', 'fit_6', 'isCold_6', 'isRainy_6', 'isWet_6',
       'isTempered_6', 'isHot_6', 'nota_6']

In [82]:
d = {}
i = 0
while i < len(columns):
    d[columns[i]] = [model_input[i]]
    i += 1

In [83]:
df = pd.DataFrame(data=d)

In [84]:
df

,cloth_category_1,cloth_subcategory_1,patron_1,sleeve_1,skirt_1,neckline_1,material_1,fit_1,isCold_1,isRainy_1,...,skirt_6,neckline_6,material_6,fit_6,isCold_6,isRainy_6,isWet_6,isTempered_6,isHot_6,nota_6
0,1,6,6,2,3,1,3,3,0,0,...,3,4,1,1,1,1,1,1,1,5

In [85]:
variables_continuas = ["nota_1", "nota_2", "nota_3", "nota_4", "nota_5", "nota_6"]
notas_df = df[variables_continuas].copy()

df = df.drop(variables_continuas, axis=1)

In [86]:
df

,cloth_category_1,cloth_subcategory_1,patron_1,sleeve_1,skirt_1,neckline_1,material_1,fit_1,isCold_1,isRainy_1,...,sleeve_6,skirt_6,neckline_6,material_6,fit_6,isCold_6,isRainy_6,isWet_6,isTempered_6,isHot_6
0,1,6,6,2,3,1,3,3,0,0,...,3,3,4,1,1,1,1,1,1,1

In [87]:
notas_df

   nota_1  nota_2  nota_3  nota_4  nota_5  nota_6
0       4       2       0       3       3       5

In [88]:
import joblib

scaler = joblib.load("scaler.save")

In [89]:
labels = notas_df.columns
# scaler = MinMaxScaler()
notas_df = pd.DataFrame(scaler.transform(notas_df)) # ,index= data_continua.index.values,)
notas_df.columns = labels
notas_df

   nota_1  nota_2  nota_3  nota_4    nota_5  nota_6
0    0.75     0.4     0.0    0.75  0.333333     1.0

In [90]:
notas_test = pd.DataFrame({"nota_1": [4,3], "nota_2": [4,0], "nota_3": [4,0], "nota_4": [0,0], "nota_5": [5,5], "nota_6":[4,2]})

x1 = [4,4,4,0,5,4]
x2 = [3,0,0,0,5,2]

In [91]:
notas_test_scales = pd.DataFrame(scaler.transform(notas_test))
notas_test_scales

      0    1    2    3    4     5
0  0.75  0.8  0.8  0.0  1.0  0.75
1  0.50  0.0  0.0  0.0  1.0  0.25

In [92]:
def getDummiesForEveryVariable(df):
    dummied_columns = []
    for column in df.columns:
        dummied_columns.append( pd.get_dummies( df[column], prefix = column) )
    dummied_columns = pd.concat( dummied_columns, axis = 1, join = 'inner')
    return dummied_columns

dummied_df = getDummiesForEveryVariable(df)

In [93]:
dummied_df

,cloth_category_1_1,cloth_subcategory_1_6,patron_1_6,sleeve_1_2,skirt_1_3,neckline_1_1,material_1_3,fit_1_3,isCold_1_0,isRainy_1_0,...,sleeve_6_3,skirt_6_3,neckline_6_4,material_6_1,fit_6_1,isCold_6_1,isRainy_6_1,isWet_6_1,isTempered_6_1,isHot_6_1
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [94]:
df_columns = [    
    "cloth_category_1_1",
    "cloth_subcategory_1_1",
    "cloth_subcategory_1_2",
    "cloth_subcategory_1_4",
    "cloth_subcategory_1_5",
    "cloth_subcategory_1_6",
    "cloth_subcategory_1_7",
    "cloth_subcategory_1_8",
    "cloth_subcategory_1_9",
    "patron_1_1",
    "patron_1_2",
    "patron_1_3",
    "patron_1_4",
    "patron_1_5",
    "patron_1_6",
    "patron_1_7",
    "sleeve_1_1",
    "sleeve_1_2",
    "sleeve_1_3",
    "skirt_1_1",
    "skirt_1_2",
    "skirt_1_3",
    "neckline_1_1",
    "neckline_1_2",
    "neckline_1_3",
    "neckline_1_4",
    "material_1_1",
    "material_1_2",
    "material_1_3",
    "material_1_4",
    "material_1_5",
    "material_1_6",
    "fit_1_1",
    "fit_1_2",
    "fit_1_3",
    "isCold_1_0",
    "isCold_1_1",
    "isRainy_1_0",
    "isRainy_1_1",
    "isWet_1_0",
    "isWet_1_1",
    "isTempered_1_0",
    "isTempered_1_1",
    "isHot_1_0",
    "isHot_1_1",
    "cloth_category_2_0",
    "cloth_category_2_2",
    "cloth_subcategory_2_0",
    "cloth_subcategory_2_1",
    "cloth_subcategory_2_2",
    "cloth_subcategory_2_3",
    "cloth_subcategory_2_4",
    "cloth_subcategory_2_5",
    "patron_2_0",
    "patron_2_1",
    "patron_2_2",
    "patron_2_3",
    "patron_2_4",
    "patron_2_5",
    "patron_2_6",
    "patron_2_7",
    "sleeve_2_0",
    "sleeve_2_1",
    "sleeve_2_2",
    "sleeve_2_3",
    "skirt_2_0",
    "skirt_2_1",
    "skirt_2_3",
    "neckline_2_0",
    "neckline_2_1",
    "neckline_2_2",
    "neckline_2_3",
    "neckline_2_4",
    "material_2_0",
    "material_2_1",
    "material_2_2",
    "material_2_3",
    "material_2_4",
    "material_2_5",
    "material_2_6",
    "fit_2_0",
    "fit_2_1",
    "fit_2_2",
    "fit_2_3",
    "isCold_2_0",
    "isCold_2_1",
    "isRainy_2_0",
    "isRainy_2_1",
    "isWet_2_0",
    "isWet_2_1",
    "isTempered_2_0",
    "isTempered_2_1",
    "isHot_2_0",
    "isHot_2_1",
    "cloth_category_3_0",
    "cloth_category_3_3",
    "cloth_subcategory_3_0",
    "cloth_subcategory_3_1",
    "cloth_subcategory_3_2",
    "cloth_subcategory_3_3",
    "cloth_subcategory_3_4",
    "cloth_subcategory_3_6",
    "patron_3_0",
    "patron_3_1",
    "patron_3_2",
    "patron_3_3",
    "patron_3_4",
    "patron_3_6",
    "patron_3_7",
    "sleeve_3_0",
    "sleeve_3_1",
    "sleeve_3_2",
    "sleeve_3_3",
    "skirt_3_0",
    "skirt_3_2",
    "skirt_3_3",
    "neckline_3_0",
    "neckline_3_1",
    "neckline_3_2",
    "neckline_3_4",
    "material_3_0",
    "material_3_1",
    "material_3_2",
    "material_3_3",
    "material_3_4",
    "material_3_5",
    "material_3_6",
    "fit_3_0",
    "fit_3_1",
    "fit_3_2",
    "fit_3_3",
    "isCold_3_0",
    "isCold_3_1",
    "isRainy_3_0",
    "isRainy_3_1",
    "isWet_3_0",
    "isWet_3_1",
    "isTempered_3_0",
    "isTempered_3_1",
    "isHot_3_0",
    "isHot_3_1",
    "cloth_category_4_0",
    "cloth_category_4_4",
    "cloth_subcategory_4_0",
    "cloth_subcategory_4_1",
    "cloth_subcategory_4_2",
    "cloth_subcategory_4_3",
    "cloth_subcategory_4_4",
    "cloth_subcategory_4_5",
    "cloth_subcategory_4_6",
    "cloth_subcategory_4_7",
    "cloth_subcategory_4_8",
    "cloth_subcategory_4_9",
    "cloth_subcategory_4_10",
    "patron_4_0",
    "patron_4_6",
    "patron_4_7",
    "sleeve_4_0",
    "skirt_4_0",
    "neckline_4_0",
    "material_4_0",
    "material_4_5",
    "material_4_6",
    "fit_4_0",
    "fit_4_1",
    "fit_4_2",
    "isCold_4_0",
    "isCold_4_1",
    "isRainy_4_0",
    "isRainy_4_1",
    "isWet_4_0",
    "isTempered_4_0",
    "isTempered_4_1",
    "isHot_4_0",
    "isHot_4_1",
    "cloth_category_5_5",
    "cloth_subcategory_5_1",
    "cloth_subcategory_5_2",
    "cloth_subcategory_5_3",
    "cloth_subcategory_5_4",
    "cloth_subcategory_5_5",
    "cloth_subcategory_5_6",
    "cloth_subcategory_5_7",
    "cloth_subcategory_5_8",
    "cloth_subcategory_5_9",
    "cloth_subcategory_5_10",
    "cloth_subcategory_5_11",
    "patron_5_0",
    "patron_5_6",
    "sleeve_5_0",
    "skirt_5_0",
    "neckline_5_0",
    "material_5_0",
    "material_5_4",
    "fit_5_0",
    "fit_5_1",
    "fit_5_2",
    "fit_5_3",
    "isCold_5_0",
    "isCold_5_1",
    "isRainy_5_0",
    "isRainy_5_1",
    "isWet_5_0",
    "isWet_5_1",
    "isTempered_5_0",
    "isTempered_5_1",
    "isHot_5_0",
    "isHot_5_1",
    "cloth_category_6_6",
    "cloth_subcategory_6_1",
    "cloth_subcategory_6_2",
    "cloth_subcategory_6_3",
    "cloth_subcategory_6_4",
    "cloth_subcategory_6_5",
    "cloth_subcategory_6_6",
    "cloth_subcategory_6_7",
    "cloth_subcategory_6_8",
    "cloth_subcategory_6_9",
    "cloth_subcategory_6_10",
    "cloth_subcategory_6_11",
    "cloth_subcategory_6_12",
    "cloth_subcategory_6_13",
    "cloth_subcategory_6_14",
    "cloth_subcategory_6_15",
    "patron_6_1",
    "patron_6_2",
    "patron_6_3",
    "patron_6_4",
    "patron_6_5",
    "patron_6_6",
    "patron_6_7",
    "sleeve_6_1",
    "sleeve_6_2",
    "sleeve_6_3",
    "skirt_6_1",
    "skirt_6_2",
    "skirt_6_3",
    "neckline_6_1",
    "neckline_6_2",
    "neckline_6_4",
    "material_6_1",
    "material_6_2",
    "material_6_3",
    "material_6_4",
    "material_6_6",
    "fit_6_1",
    "fit_6_2",
    "fit_6_3",
    "isCold_6_0",
    "isCold_6_1",
    "isRainy_6_0",
    "isRainy_6_1",
    "isWet_6_0",
    "isWet_6_1",
    "isTempered_6_0",
    "isTempered_6_1",
    "isHot_6_0",
    "isHot_6_1"
]

In [95]:
d = {}
for c in df_columns:
    d[c] = [0]
all_columns_df = pd.DataFrame(data=d)

In [96]:
for c in dummied_df:
    all_columns_df[c] = 1

In [97]:

all_columns_df

,cloth_category_1_1,cloth_subcategory_1_1,cloth_subcategory_1_2,cloth_subcategory_1_4,cloth_subcategory_1_5,cloth_subcategory_1_6,cloth_subcategory_1_7,cloth_subcategory_1_8,cloth_subcategory_1_9,patron_1_1,...,isCold_6_0,isCold_6_1,isRainy_6_0,isRainy_6_1,isWet_6_0,isWet_6_1,isTempered_6_0,isTempered_6_1,isHot_6_0,isHot_6_1
0,1,0,0,0,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1

In [98]:
REMOVED_COLUMNS = [
    'cloth_category_1_1',
    'cloth_subcategory_1_2',
    'cloth_subcategory_1_4',
    'cloth_subcategory_1_8',
    'cloth_subcategory_1_9',
    'patron_1_3',
    'patron_1_4',
    'patron_1_5',
    'patron_1_7',
    'skirt_1_1',
    'skirt_1_2',
    'neckline_1_3',
    'material_1_1',
    'material_1_4',
    'material_1_5',
    'material_1_6',
    'fit_1_1',
    'fit_1_2',
    'isRainy_1_1',
    'cloth_subcategory_2_3',
    'cloth_subcategory_2_4',
    'patron_2_1',
    'patron_2_2',
    'patron_2_3',
    'patron_2_4',
    'patron_2_5',
    'patron_2_7',
    'sleeve_2_2',
    'sleeve_2_3',
    'skirt_2_1',
    'neckline_2_3',
    'material_2_1',
    'material_2_2',
    'material_2_4',
    'material_2_5',
    'fit_2_1',
    'fit_2_2',
    'isRainy_2_1',
    'cloth_subcategory_3_1',
    'cloth_subcategory_3_2',
    'cloth_subcategory_3_4',
    'cloth_subcategory_3_6',
    'patron_3_1',
    'patron_3_2',
    'patron_3_3',
    'patron_3_4',
    'patron_3_7',
    'sleeve_3_2',
    'sleeve_3_3',
    'skirt_3_2',
    'neckline_3_4',
    'material_3_1',
    'material_3_2',
    'material_3_5',
    'material_3_6',
    'fit_3_1',
    'fit_3_2',
    'isHot_3_1',
    'cloth_subcategory_4_1',
    'cloth_subcategory_4_2',
    'cloth_subcategory_4_3',
    'cloth_subcategory_4_4',
    'cloth_subcategory_4_5',
    'cloth_subcategory_4_6',
    'cloth_subcategory_4_8',
    'cloth_subcategory_4_9',
    'cloth_subcategory_4_10',
    'patron_4_7',
    'sleeve_4_0',
    'skirt_4_0',
    'neckline_4_0',
    'isWet_4_0',
    'cloth_category_5_5',
    'cloth_subcategory_5_1',
    'cloth_subcategory_5_2',
    'cloth_subcategory_5_3',
    'cloth_subcategory_5_4',
    'cloth_subcategory_5_5',
    'cloth_subcategory_5_6',
    'cloth_subcategory_5_7',
    'cloth_subcategory_5_10',
    'sleeve_5_0',
    'skirt_5_0',
    'neckline_5_0',
    'fit_5_0',
    'cloth_category_6_6',
    'cloth_subcategory_6_1',
    'cloth_subcategory_6_5',
    'cloth_subcategory_6_6',
    'cloth_subcategory_6_7',
    'cloth_subcategory_6_9',
    'cloth_subcategory_6_10',
    'cloth_subcategory_6_11',
    'cloth_subcategory_6_12',
    'cloth_subcategory_6_13',
    'cloth_subcategory_6_14',
    'cloth_subcategory_6_15',
    'patron_6_3',
    'patron_6_4',
    'patron_6_5',
    'patron_6_7',
    'sleeve_6_1',
    'sleeve_6_2',
    'skirt_6_1',
    'skirt_6_2',
    'neckline_6_1',
    'neckline_6_2',
    'material_6_2',
    'material_6_4',
    'material_6_6',
    'fit_6_2',
    'isCold_1_1',
    'isWet_1_1',
    'isTempered_1_1',
    'isHot_1_1',
    'isCold_2_1',
    'isWet_2_1',
    'isTempered_2_1',
    'isHot_2_1',
    'isCold_3_1',
    'isRainy_3_1',
    'isWet_3_1',
    'isTempered_3_1',
    'isCold_4_1',
    'isRainy_4_1',
    'isTempered_4_1',
    'isHot_4_1',
    'isCold_5_1',
    'isRainy_5_1',
    'isWet_5_1',
    'isTempered_5_1',
    'isHot_5_1',
    'isCold_6_1',
    'isRainy_6_1',
    'isWet_6_1',
    'isTempered_6_1',
    'isHot_6_1',
    'skirt_1_3',
    'fit_1_3',
    'cloth_subcategory_2_0',
    'patron_2_0',
    'sleeve_2_0',
    'sleeve_2_1',
    'skirt_2_0',
    'skirt_2_3',
    'neckline_2_0',
    'material_2_0',
    'fit_2_0',
    'fit_2_3',
    'cloth_subcategory_3_0',
    'cloth_subcategory_3_3',
    'patron_3_0',
    'patron_3_6',
    'sleeve_3_0',
    'sleeve_3_1',
    'skirt_3_0',
    'skirt_3_3',
    'neckline_3_0',
    'material_3_0',
    'fit_3_0',
    'fit_3_3',
    'cloth_subcategory_4_0',
    'cloth_subcategory_4_7',
    'patron_4_0',
    'patron_4_6',
    'material_4_0',
    'fit_4_0',
    'sleeve_6_3',
    'skirt_6_3',
    'neckline_6_4'
]

In [99]:
all_columns_df = all_columns_df.drop(REMOVED_COLUMNS, axis = 1)
all_columns_df

,cloth_subcategory_1_1,cloth_subcategory_1_5,cloth_subcategory_1_6,cloth_subcategory_1_7,patron_1_1,patron_1_2,patron_1_6,sleeve_1_1,sleeve_1_2,sleeve_1_3,...,patron_6_6,material_6_1,material_6_3,fit_6_1,fit_6_3,isCold_6_0,isRainy_6_0,isWet_6_0,isTempered_6_0,isHot_6_0
0,0,0,1,0,0,0,1,0,1,0,...,1,1,0,1,0,0,0,0,0,0

In [103]:
input = pd.concat( [notas_df, all_columns_df], axis = 1, join = 'inner')

In [104]:
input

,nota_1,nota_2,nota_3,nota_4,nota_5,nota_6,cloth_subcategory_1_1,cloth_subcategory_1_5,cloth_subcategory_1_6,cloth_subcategory_1_7,...,patron_6_6,material_6_1,material_6_3,fit_6_1,fit_6_3,isCold_6_0,isRainy_6_0,isWet_6_0,isTempered_6_0,isHot_6_0
0,0.75,0.4,0.0,0.75,0.333333,1.0,0,0,1,0,...,1,1,0,1,0,0,0,0,0,0

In [105]:
def write_output(output, id):
    file = open(f"output_file_{id}.txt", "w")
    for a in prediction:
        for b in a:
            file.write(f"{b.numpy()}\n")
    file.close()

In [111]:
x = input.to_numpy()

In [112]:
x

array([[0.75      , 0.4       , 0.        , 0.75      , 0.33333333,
        1.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        1.        , 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 1.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 1.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 1.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 1.        ,
        1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ]])

In [114]:

model = load_model('NeuralClassifier.h5')

# x = np.array([X_test[0]])
# print("t0")
prediction = model(x, training = False)
# print("prediction:",prediction)
# print("t1")
# write_output(prediction, id)

In [116]:
write_output(prediction, 0)

In [117]:
import mysql.connector
from mysql.connector import Error

In [122]:
def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [121]:
HOST_NAME = "localhost"
USER_NAME = "root"
DB_NAME = "memoria"
USER_PASSWORD = "admin"

connection = create_server_connection(HOST_NAME, USER_NAME, USER_PASSWORD, DB_NAME)

MySQL Database connection successful

In [133]:
from shutil import copyfile
import os

In [134]:
def CopyImageToNewFolder(img_route, new_route):
    if (not os.path.exists(img_route)):
        return
    if (not os.path.exists(new_route)):
        CreateFolder(new_route.split("/")[0], new_route.split("/")[1])
    
    copyfile(img_route, new_route)
    return

def CreateFolder(route, foldername):
    folder_route = f"{route}/{foldername}"
    if (os.path.exists(folder_route)):
        return
    os.mkdir(folder_route)
    return

In [135]:
RUTA_BASE = "../Generador de Conjuntos/sv_img/"

In [150]:
from datetime import datetime
now = datetime.now()
current_datetime = now.strftime("%d-%m-%Y_%H-%M-%S")
file = open("finalSolutions.txt")
read_record_query = "SELECT Name, IMG_Route FROM cloth WHERE ID = {}"
i = 1
for line in file:
    ids_ropa = line.strip().split(" ")
    folder_name = f"{current_datetime}_solution_{i}"
    CreateFolder("./Solutions",folder_name ) 
    for id in ids_ropa:
        result = read_query(connection, read_record_query.format(id))
        if len(result) != 0:
            img_name = result[0][0].replace("-img", "")
            CopyImageToNewFolder(f"{RUTA_BASE}/{result[0][1]}", f"./Solutions/{folder_name}/{id}_{img_name}.jpg")
        print(result)
    i += 1
    if i == 6:
        break

Error: '1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',idC2,idC3,idC4,idC5,idC6,id,F,2' at line 1'

TypeError: object of type 'NoneType' has no len()

In [155]:
from datetime import datetime
now = datetime.now()
current_datetime = now.strftime("%d-%m-%Y-%H-%M")

In [160]:

def formatDate(string):
    date_list = string.split("-")
    formato = ["d", "M", "A", "H", "m"]
    new_string = ""
    for i in range(len(formato)):
        new_string += formato[i] + date_list[i]
        if i == 2:
            new_string += "_"
        else:
            new_string += "-"
    
    return new_string[:-1]

formatDate(current_datetime)

'd26-M06-A2022_H16-m26'